.background{
    background-color: #001d3d;
}
.font{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: flex;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    padding-bottom: 50px;
}

.style{
    color:white; 
    text-align: center; 
    font-size:90px;
    padding-top: 5%;
}
.logo{
    background: url(Bitcoin.png) no-repeat;
    color: white;
}

.radius{
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.BitcoinImage{
    padding-left: 15%;
}

.col{
    justify-content: center;
    display: flex;
    color: white;
}

.button-72 {
    align-items: center;
    background-color: #001d3d;
    /* background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%); */
    border-radius: 42px;
    border-width: 0;
    /* box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px; */
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Josefin Sans,sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    /* text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  
  .button-72:hover {
    /* background-image: linear-gradient(#B384C9, #391F5B 50%); */
    background-color: #003566;
    border: 1px solid white;
  }
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 21px;
      padding: 18px 34px;
    }
  }

  .CoinLogo{
    padding-bottom: 25px;
  }



.fontCenter{
    padding-left: 500px;
}

.fontPadding{
    padding-right: 10px;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #003566;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
  }
  
  /* .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  } */
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #003566;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.ViewChart{
    /* padding-left: 720px; */
    padding-top: 100px;
    justify-content: center;
    display: flex;
}